body {
  background-color: grey;
}

button {
  background-color: black;
  border-color: white;
  color: white;
  font-size: 14px;
  width: 150px;
  height: 30px;
}

input {
  width: 18%;
  background-color: black;
  border: 0.5px solid white;
  color: silver;
  font-size: 12px;
  width: 200px;
  height: 30px;
}

label {
  width: 18%;
  background-color: black;
  border-color: white;
  color: silver;
  font-size: 12px;
  width: 200px;
  height: 30px;
}

h1 {
  font-size: 24px;
  background-color: black;
  font-family: verdana;
  color: white;
  height: 34px;
  border: 2px solid white;
  text-align: center;
  width: 300px;
  cursor: not-allowed;
}

th {
  font-size: 16px;
  font-family: verdana;
  text-align: left;
  background-color: black;
  color: white;
  border: 0.5px solid white;
  cursor: not-allowed;
}

td {
  font-size: 12px;
  font-family: verdana;
  text-align: left;
  background-color: black;
  color: white;
  border: 0.5px solid white;
  cursor: pointer;
}